fastapi
uvicorn[standard]
pydantic[email]
python-jose[cryptography]
bcrypt>=4.0.1,<5
passlib[bcrypt]
sqlalchemy[asyncio]
aiosqlite
python-multipart
deepface
opencv-python-headless>=4.11,<4.12
tensorflow==2.18.0
tf-keras==2.18.0
numpy>=1.26,<2.0
h5py>=3.16
httpx
reportlab
pillow
python-dateutil
asyncpg
psycopg2-binary
arabic-reshaper
python-bidi